.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #a55e32;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin: 40px auto;
    max-width: 1200px;
}

.h2{
    text-align: center;
    margin: 30px auto;
}

.h2 h2 {
    color: rgb(120, 103, 11);
    font-size: 36px;
    display: inline-block;
    position: relative;
}

.card {
    background-color:bisque;
    border: 1px solid goldenrod;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
    width: 300px;
    padding: 20px;
}